[2017-06-15 14:22] caniszczyk opened #3 "Update README to include an FAQ about CNCF Ambassadors"

[2017-08-09 16:51] idvoretskyi commented on #3
README updated a bit - https://github.com/cncf/ambassadors/pull/4

[2017-09-28 14:28] caniszczyk opened #5 "Create and fill GitHub team for ambassadors"
It would be nice to @cncf/ambassadors be full of CNCF ambassadors.

I would like ambassadors to use GitHub more too!

[2017-09-28 14:38] caniszczyk commented on #5
@idvoretskyi invited a bunch of folks

[2017-09-28 16:28] ananthulasrikar opened #6 "Plan to make CNCF ambassadors bigger :-)"
Hi Chris,

I wud like you to check abt Mozilla reps program ( https://reps.mozilla.org , https://wiki.mozilla.org/ReMo), we were part of core team in its nascent stages and it's pretty huge now. I have been part of reps program for abt 4 years. I feel this kind of program wud be a great help to build more CNCF awareness and especially can focus on students to get them started.

[2017-09-28 16:32] idvoretskyi commented on #6
@ananthulasrikar actually what I've been looking for already :)

Thanks for sharing, we will review it deeper.

cc @caniszczyk

[2017-09-28 16:33] ananthulasrikar commented on #6
That's great to hear. Let me know how I can help :) I am happy to take this forward.

[2017-09-28 17:01] tnir commented on #5
Sounds nice! Add me too 😄

[2017-10-05 14:19] mgoodness opened #7 "Meetup best practices"
I'm in the process of creating the "Cloud Native Milwaukee" meetup and rebooting "Cloud Native Madison". Seems like a good opportunity to compile & share best practices for doing so.

Things like (but not limited to):
* what tags to use
* how to describe the group & who should join
* finding a venue
* finding speakers

[2017-10-05 14:22] idvoretskyi commented on #7
@mgoodness thank you for submitting. Feel free to send a PR if you already have the solutions to the questions above.

[2017-10-05 14:33] caniszczyk commented on #7
yes, please do a PR against the README with a section regarding best
practices

On Thu, Oct 5, 2017 at 9:22 AM, Ihor Dvoretskyi <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2017-10-26 16:16] idvoretskyi commented on #6
@ananthulasrikar based on your experience of participating in both programs, can you highlight the most notable enhancements from Mozilla reps program, that may positively influence our program?

Thanks

[2017-10-30 15:30] caniszczyk opened #8 "Clearly highlight benefits of being an ambassador"
Create a new Benefits section in the README.

[2017-10-30 15:33] dankohn commented on #8
And sync content with https://www.cncf.io/people/ambassadors/

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Mon, Oct 30, 2017 at 11:30 AM, Chris Aniszczyk <notifications@github.com>
wrote:

[2017-10-31 15:17] #8 closed

[2017-11-02 11:40] idvoretskyi opened #10 "Official CNCF Meetup requirements"
CNCF is offering the Cloud Native meetups around the world to be listed as the official CNCF meetups at https://www.meetup.com/pro/cncf/.

The criteria for meetup groups to be invited, have to be defined.

[2017-11-02 13:11] rbenzair commented on #7
Hi,
We managed to organize in Paris several meetup (12 meetup CNCF) and even a kubernetes workshop. here are the main tips that we have learned over time.

If you have limit room on place or capacity,  you should do overbooking, there are around 30% of people book and never come. for example  if ou have only 50 places, you can at least open for 60 places.

You must think to send again reminder to

[2017-11-02 13:54] Smana commented on #7
Hi (i'm part of the Parisian meetup organization team too) ! Furthermore you should provided some kind of form in order to allow people to submit their talk proposal as follows :

https://docs.google.com/forms/d/1xO78iKdMEzvs11E1gmDBVYeJU-Q6h4GG-IJbyA1YzLk/prefill

Another thing we try to do is to move from a place to another. It depends on your sponsors and their room capacity of course.

Last th

[2017-11-02 19:16] idvoretskyi commented on #7
@rbenzair @Smana great. Can you prepare a PR as Chris suggested? https://github.com/cncf/ambassadors/issues/7#issuecomment-334483880

[2017-11-03 11:37] Smana commented on #7
@idvoretskyi here's a first version https://github.com/cncf/ambassadors/pull/11

@rbenzair could you please add your suggestions ?

[2017-11-04 03:12] leecalcote commented on #7
I ran a birds of a feather on the subject at KubeCon Seattle. This may help - https://youtu.be/_SZZa5Ai1PQ?list=PLYjO73_1efChX9NuRaU7WocTbgrfvCoPE

[2017-11-04 09:36] Smana commented on #7
Interesting video, thanks @leecalcote for sharing.
I'll try to update the PR with some info from your presentation.

[2017-11-04 09:43] Smana commented on #7
Otherwise you can update the documentation when the first version will be merged :)

[2017-11-05 17:31] krook commented on #7
There are tips in these slides and video about our experience running Cloud Foundry meetups that might be helpful: https://www.slideshare.net/DanielKrook/findingandorganizingagreatcloudfoundryusergroup

[2017-11-08 18:32] idvoretskyi commented on #7
Fixed with https://github.com/cncf/ambassadors/pull/11.

Closing this issue now, but we are open for the further PR's.

[2017-11-08 18:33] #7 closed

[2017-12-04 19:36] caniszczyk opened #12 "Google Map of Ambassadors + Location"

[2017-12-04 19:38] caniszczyk opened #13 "Free CKA Exam for All Ambassadors"
In 2018, I'd like to waive the fee for all ambassadors taking the CKA Exam.

[2017-12-04 19:39] caniszczyk commented on #5
This should be done

[2017-12-04 19:39] #5 closed

[2017-12-12 06:19] rosskukulinski opened #16 "Meeting notes for December"
We have been publishing the meeting slides [here](https://github.com/cncf/ambassadors/blob/master/meetings/minutes.md) but it's currently missing the slides from our December meeting.

[2017-12-12 06:28] rosskukulinski commented on #13
@caniszczyk As someone who's already passed the exam, I think this would be a nice benefit for our ambassadors.

[2017-12-12 13:48] idvoretskyi commented on #16
@rosskukulinski thanks for the heads up, will add them.

[2017-12-13 17:05] idvoretskyi commented on #16
Fixed https://github.com/cncf/ambassadors/commit/862b573ea5cb46b11cdeb91e112123c0d894aa72

[2017-12-13 17:05] #16 closed

[2017-12-13 17:06] idvoretskyi commented on #13
Fixed https://github.com/cncf/ambassadors/commit/12c0e90ffa078aed07c80513ca6d645f36b10dc2

[2017-12-13 17:06] #13 closed

[2018-01-16 22:10] castrojo opened #17 "Deis -> Microsoft in affiliation field"
Michelle's affiliation shows up as Deis, it should be Microsoft now: https://www.cncf.io/people/ambassadors/

[2018-01-16 22:14] idvoretskyi commented on #17
@castrojo nice catching, thanks.

@taylorwaggoner FYI

[2018-01-16 22:21] taylorwaggoner commented on #17
Michelle's affiliation has been updated.  Thanks!

[2018-01-16 22:23] #17 closed

[2018-02-13 14:31] idvoretskyi commented on #10
Closing in favor of https://github.com/cncf/meetups/issues/1

[2018-02-13 14:32] #10 closed

[2018-03-02 01:05] vcoisne opened #18 "CoC for Ambassadors"
Is there a code of conduct for CNCF ambassadors ?

[2018-03-02 01:06] caniszczyk commented on #18
Everyone is expected to follow the CNCF code of conduct https://github.com/cncf/foundation/blob/master/code-of-conduct.md

[2018-03-02 14:38] #18 closed

[2018-03-29 16:38] caniszczyk opened #21 "Come up with Campus Ambassador Toolkit for Students"

[2018-03-29 16:39] caniszczyk commented on #21
Chris Short, Bob Killen and Justin Garrison have volunteered to help here

[2018-03-29 16:56] luxas commented on #21
And @luxas :wink:

[2018-03-29 16:59] idvoretskyi commented on #21
cc @kbarnard10

[2018-03-29 17:05] jberkus opened #22 "Add Sticker Packages for Ambassadors to the Store"
Currently the CNCF store is set up to sell individual stickers, not packs.  This means that an Ambassador who needs, say, 400 assorted stickers for an event is going to be out-of-pocket for $200 until they're reimbursed, which is annoying for some of us and prohibitive for Campus Ambassadors.  It's also probably fairly inefficient on the fulfillment side.

I propose instead that the CNCF create a

[2018-03-29 17:36] idvoretskyi commented on #22
@jberkus thanks, we will work on this.

[2018-03-29 17:50] caniszczyk commented on #21
some prior art: https://blog.docker.com/2017/05/announcing-docker-student-developer-kit-campus-ambassador-program/

I have many ideas on how we can do something better.

[2018-03-30 14:21] #3 closed

[2018-04-11 12:56] mhausenblas opened #23 "Provide a community YouTube channel"
Oftentimes, we find cases where, say, an ambassador or really any community member would like to share a video (recording from a meetup, or a demo). There's the official, CNCF maintained YouTube channel which comes with its own policy who can upload what kind of content and which seems to be not the right path. However, creating a dedicated CNCF community channel (potentially with mod support by a

[2018-04-11 13:11] caniszczyk commented on #23
I wouldn't mind creating a "CNCF Community Ambassador" channel that is
stewarded by the ambassadors

Another idea would be to just create a list of videos in a README like we
do with presentations repo: https://github.com/cncf/presentations

On Wed, Apr 11, 2018 at 8:56 PM, Michael Hausenblas <
notifications@github.com> wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2018-04-11 14:44] idvoretskyi commented on #23
do with presentations repo: https://github.com/cncf/presentations

Personally, I'd prefer creating a YouTube channel due to the wider feature set.

[2018-04-11 15:13] mhausenblas commented on #23
Cool. @caniszczyk list of videos is not the same as a channel. Stuff like auto-play, etc doesn't work and it's also about perception (video on a personal account vs. something more formal).

[2018-04-15 11:07] idvoretskyi commented on #22
Fixed with https://store.cncf.io/collections/ambassador-packs.

[2018-04-15 11:07] #22 closed

[2018-06-07 14:52] caniszczyk commented on #6
closing as this isn't a concrete action item we can perform, let's try to break apart any ideas from the mozilla program into concrete issues that we can work on :)

[2018-06-07 14:52] #6 closed

[2018-06-12 16:41] idvoretskyi commented on #23
cc @kbarnard10

[2018-10-30 22:59] mrbobbytables opened #38 "Links for KubeWeekly 154"
**Tools:**
* [Dive](https://github.com/wagoodman/dive) - A tool for exploring a container image, layer contents, and discovering ways to shrink your image size.

* [OpenUnison Kubernetes Active Directory Authentication Provider](https://github.com/OpenUnison/openunison-k8s-login-activedirectory) - An AD authentication provider from TremoloSecurity.

**Articles:**
* [Container Networking Interface

[2018-10-30 23:42] caniszczyk commented on #38
Add link to Envoy Proxy starting their QUIC support:
https://twitter.com/mattklein123/status/1057411886348562432

[2018-10-30 23:55] caniszczyk commented on #38
OPA had a new v0.10 release (https://blog.openpolicyagent.org/v0-10-release-277da41b9ed1) +  roadmap was published: https://docs.google.com/presentation/d/11_OBKbx8qK8bx35n3jRtluLnIBXgZwNpcJdEEGDd6YQ/edit

[2018-11-07 00:17] #38 closed

[2018-11-07 00:19] kbarnard10 opened #39 "Links for KubeWeekly #155"
Links due by 11am PT on Wednesday November 7th.

[2018-11-07 02:58] leecalcote commented on #39
@kbarnard10, here's an editor's pick - a short book that didn't make the cut in time for the 154 weekly - -

[_The Enterprise Path to Service Mesh Architectures_](https://gingergeek.com/2018/08/now-available-the-enterprise-path-to-service-mesh-architectures/)
_Lee Calcote, Layer5_

If you scratch your head at what a service mesh is and how they provide a necessary layer of services tooling distinc

[2018-11-07 14:47] chris-short commented on #39
Here is everything I think is worth sharing is this week. I think it'd be best if @kbarnard10 organizes them as categorizing things is hard enough but, wait until there's a conflict (editorial vs. technical, etc.).

* [The Journey to Kubernetes](https://www.weave.works/blog/the-journey-to-kubernetes) — "Have you wondered why Kubernetes is so popular? Discover why Kubernetes is the clear market lea

[2018-11-07 16:12] mrbobbytables commented on #39
Editorial:
* [[presentation] Scaling and Operating Kafka in Kubernetes](https://speakerdeck.com/brouberol/scaling-and-operating-kafka-in-kubernetes) ([video](https://www.youtube.com/watch?v=7eEOzguzOg0))  - A presentation from DataDog on how they manage a large scale Kafka deployment on top of Kubernetes.

[2018-11-21 18:06] #39 closed

[2018-11-21 20:59] onlydole commented on #12
@idvoretskyi - I'll send you a sheet I have that shows the current list of CNCF ambassadors and their location

[2018-11-21 22:11] idvoretskyi commented on #12
@onlydole how you got the data? :)

[2018-11-21 22:42] onlydole commented on #12
All via the publicly advertised profiles (ex. GitHub, LinkedIn, Twitter) on https://www.cncf.io/people/ambassadors/

[2018-11-22 06:45] idvoretskyi commented on #12
@onlydole it contains a few errors, but it's a big work, thanks.

[2018-11-22 06:54] onlydole commented on #12
Excellent! I can send over edit access if it’d be of help to correct any errors.

[2018-11-28 01:05] chris-short opened #42 "Links for KubeWeekly #157"
Links due by 11am PT on Wednesday November 28th.

[2018-11-28 02:17] chris-short commented on #42
Here is everything I think is worth sharing is this week. I think it'd be best if @kbarnard10 organizes them as categorizing things is hard enough but, wait until there's a conflict (editorial vs. technical, etc.).

* [danderson/virtuakube](https://github.com/danderson/virtuakube) — Virtuakube sets up virtual Kubernetes clusters for testing.

* [Benchmark results of Kubernetes network plugins (CNI

[2018-11-30 02:03] surajnarwade commented on #42
not sure if this is good fit for kubeweekly:

* https://suraj.pro/post/journey-to-cka/

[2019-01-07 20:22] #42 closed

[2019-01-07 20:22] kbarnard10 opened #44 "KubeWeekly #159"
Please respond to this issue with links for the next edition of KubeWeekly. Links are due by 11am PT every Wednesday. @kbarnard10 will combine the links into the final email and send out.

**Featured Content**
_Editor's picks of the highlights from the past week._
[ARTICLE TITLE](LINK)

**Technical**
_Tutorials, tools, and more that take you on a deep dive into the code._
[ARTICLE TITLE](LINK)

_T

[2019-01-14 16:15] mrbobbytables commented on #44
**Technical:**
[Why Is Storage On Kubernetes So Hard?](https://softwareengineeringdaily.com/2019/01/11/why-is-storage-on-kubernetes-is-so-hard/) - Gokhan Simsek
[How to Create a Kubernetes Custom Controller Using client-go](https://itnext.io/how-to-create-a-kubernetes-custom-controller-using-client-go-f36a7a7536cc)- Roger Liang
[Kubernetes Authorization via Open Policy Agent](https://itnext.io/kub

[2019-01-22 20:53] #44 closed

[2019-01-22 20:53] kbarnard10 opened #46 "KubeWeekly #160"
Please respond to this issue with links for the next edition of KubeWeekly. Links are due by 11am PT every Wednesday. @kbarnard10 will combine the links into the final email and send out.

**Featured Content**
_Editor's picks of the highlights from the past week._
[ARTICLE TITLE](LINK)

**Technical**
_Tutorials, tools, and more that take you on a deep dive into the code._
[ARTICLE TITLE](LINK)

_T

[2019-01-23 10:16] mhausenblas commented on #46
* [Kubernetes Operators — When, how and the gotchas to keep in mind](https://medium.com/@cloudark/kubernetes-operators-when-how-and-the-gotchas-to-keep-in-mind-b13be9830346)
* [GitHub actions to deliver on Kubernetes](https://gianarb.it/blog/kubernetes-github-action)
* [Database Operators Bring Stateful Workloads to Kubernetes](https://thenewstack.io/databases-operators-bring-stateful-workloads-to

[2019-01-23 14:38] mrbobbytables commented on #46
**Editorial:**
* [How to Create an API Gateway using Ambassador on Kubernetes](https://medium.com/devopslinks/how-to-create-an-api-gateway-using-ambassador-on-kubernetes-95f181904ff7)
* [Deploy Microsoft SQL Server on Google Kubernetes Engine (GKE)](https://medium.com/searce/deploy-microsoft-sql-server-on-google-kubernetes-engine-gke-14d646f05153)
* [Create a High-Availability Kubernetes Cluster o

[2019-01-25 22:46] castrojo opened #47 "Affiliation update"
https://www.cncf.io/people/ambassadors/

Heptio->VMware affiliations need to be updated for Jorge Castro, Kris Nova, and Ross Kukulinksi.

[2019-01-25 22:51] caniszczyk commented on #47
cc: @kbarnard10

[2019-01-25 23:17] kbarnard10 commented on #47
Updated

[2019-01-25 23:17] #47 closed

[2019-01-28 20:24] #46 closed

[2019-01-28 20:24] kbarnard10 opened #48 "KubeWeekly #161"
Please respond to this issue with links for the next edition of KubeWeekly. Links are due by 11am PT every Wednesday. @kbarnard10 will combine the links into the final email and send out.

**Featured Content**
_Editor's picks of the highlights from the past week._
[ARTICLE TITLE](LINK)

**Technical**
_Tutorials, tools, and more that take you on a deep dive into the code._
[ARTICLE TITLE](LINK)

_T

[2019-01-30 17:24] mrbobbytables commented on #48
* [Securing Kubernetes Clusters with Istio and Auth0](https://medium.com/@auth0/securing-kubernetes-clusters-with-istio-and-auth0-d888229176d1)
* [Keeping Secrets in an ASP.NET Kubernetes Application](https://medium.com/google-cloud/keeping-secrets-in-an-asp-net-kubernetes-application-8e138e148ae6)
* [Understanding Kubernetes Cluster Autoscaling](https://medium.com/kubecost/understanding-kubernete

[2019-02-06 17:14] castrojo commented on #47
@kbarnard10 The descriptions still mention Heptio. :D

[2019-02-06 23:57] #48 closed

[2019-02-07 00:22] leecalcote commented on #48
If it's too late, we can get these next time (or skip):

- [CNCF Ambassador Spill: Takeaways from KubeCon + CloudNativeCon](https://www.cloudops.com/2019/01/cncf-ambassador-spill-takeaways-from-kubecon-cloudnativecon/)
- [Microservices: The More the Merrier or Meshy-er?](https://containerjournal.com/2018/12/05/microservices-the-more-the-merrier-or-meshy-er/)

[2019-02-11 17:23] kbarnard10 commented on #47
Ok I think I caught them all this time.

[2019-02-14 15:50] gianarb opened #49 "KubeWeekly #163"
Please respond to this issue with links for the next edition of KubeWeekly. Links are due by 11am PT every Wednesday. @kbarnard10 will combine the links into the final email and send out.

**Featured Content**
_Editor's picks of the highlights from the past week._
[ARTICLE TITLE](LINK)

**Technical**
_Tutorials, tools, and more that take you on a deep dive into the code._
[Extend Kubernetes via a

[2019-02-15 10:01] mhausenblas commented on #49
* https://www.infoq.com/podcasts/joe-beda-kubernetes-cncf
* https://itnext.io/pimp-my-kubernetes-shell-f144710232a0

[2019-02-20 15:52] mrbobbytables commented on #49
**Editorials:**
- [Kubernetes Storage Performance Comparison](https://medium.com/vescloud/kubernetes-storage-performance-comparison-9e993cb27271)

Not a lot this week. :x

[2019-03-08 16:48] caniszczyk opened #50 "Add FAQ entry on expected time commitment for ambassadors"
e.g., ambassadors meet monthly for an hour

[2019-03-08 16:48] idvoretskyi commented on #50
/assign

[2019-03-13 19:06] #49 closed

[2019-03-13 19:07] kbarnard10 opened #51 "KubeWeekly #165 - March 20th"
Please respond to this issue with links for the next edition of KubeWeekly. Links are due by 11am PT every Wednesday. @kbarnard10 will combine the links into the final email and send out.

**Featured Content**
_Editor's picks of the highlights from the past week._
[ARTICLE TITLE](LINK)

**Technical**
_Tutorials, tools, and more that take you on a deep dive into the code._
[ARTICLE TITLE](LINK)

_T

[2019-03-20 01:12] mrbobbytables commented on #51
**Technical:**
- [Running Kubernetes In The CI Pipeline For Integration and End-To-End Tests](https://www.loodse.com/blog/2019-03-12-running-kubernetes-in-the-ci-pipeline-/)
- [Running a Tight Ship: Deploying Kubernetes to Run Windows Containers](https://medium.com/outsystems-engineering/running-a-tight-ship-deploying-kubernetes-on-a-windows-server-429c9b4e6c3e)

**Editorial:**
- [How A Cryptocurr

[2019-03-20 01:19] chris-short commented on #51
[Creating a Kubernetes Cluster with Digital Ocean and Terraform](https://ponderosa.io/blog/kubernetes/2019/03/13/terraform-cluster-create/) — Using Terraform to build a Kubernetes cluster on Digital Ocean

[Kubernetes Patterns](http://shop.oreilly.com/product/0636920242598.do) — "Each pattern includes a description of the problem and a proposed solution with Kubernetes specifics. Many patterns are

[2019-03-20 21:58] #51 closed

[2019-03-27 15:13] mrbobbytables opened #52 "KubeWeekly #166 - Week March 27th"
Please respond to this issue with links for the next edition of KubeWeekly. Links are due by 11am PT every Wednesday. @kbarnard10 will combine the links into the final email and send out.

**Featured Content**
_Editor's picks of the highlights from the past week._
[ARTICLE TITLE](LINK)

**Technical**
_Tutorials, tools, and more that take you on a deep dive into the code._
[ARTICLE TITLE](LINK)

_T

[2019-03-27 15:25] mrbobbytables commented on #52
**Editorial:**
- [Managing Kubernetes RBAC Groups](https://medium.com/cruise/open-sourcing-rbacsync-48758df685b0) - (Could also be tool, open sourced [rbacsync](https://github.com/cruise-automation/rbacsync))
- [Kubernetes-based Microservice Observability with Istio Service Mesh: Part 2](https://itnext.io/kubernetes-based-microservice-observability-with-istio-service-mesh-part-2-f25c4b474a65)
- [H

[2019-03-27 15:33] chris-short commented on #52
[Tuning Jaeger’s performance](https://medium.com/jaegertracing/tuning-jaegers-performance-7a60864cf3b1) — This post will help you fine tune your individual Jaeger components to better match the needs of your particular deployment scenario.

[The evolution of serverless and FaaS: Knative brings change](https://developers.redhat.com/blog/2019/03/26/serverless-faas-knative/) — Knative disrupted all t

[2019-03-27 15:38] danieloh30 commented on #52
Technical
[Getting started with Jaeger to build an Istio service mesh](https://opensource.com/article/19/3/getting-started-jaeger) -Improve monitoring and tracing of cloud-native apps on a distributed networking system with Kubernetes and Istio.

[2019-03-27 15:54] mrbobbytables commented on #52
**Featured Content:**
- [Minikube hit 1.0](https://github.com/kubernetes/minikube/releases/tag/v1.0.0)

[2019-03-28 15:21] kbarnard10 opened #53 "Create a place for Ambassadors to share the work they're doing"
We’d like to prioritize a better tracking system for the blog posts, podcasts, speaking opportunities, etc. that Ambassadors are participating in so we can help amplify.

Is there a tracking method that everyone would prefer? Please weigh in here.

Some options discussed were:
- GitHub: gives the ability for Ambassadors to see what others are working on.
- Google Form: with an accessible Google Sh

[2019-03-28 15:22] danieloh30 commented on #53
I'm literally using many Trello boards, Kanban boards to trace community stuff.

[2019-03-28 15:23] chris-short commented on #53
I'm in favor of GitHub for two selfish reasons:

1) I keep a page on my web site to keep up with this, throwing another PR on the pile is low effort.

2) I'd like to find more places to speak and talk and help highlight things from my desk here in Michigan. Seeing what others are doing would be helpful. Podcasts and chats from the office are very doable for me.

[2019-03-28 15:30] nikhita commented on #53
Maybe a GitHub repo so that it's easy for ambassadors to create issues on stuff they are working on. And then using GitHub project boards to better track all of this? :)

[2019-03-28 15:30] caniszczyk commented on #53
I'd prefer keeping things on GitHub or just using the mailing list/slack
more. I'd like to avoid adding another service :)

On Thu, Mar 28, 2019 at 8:23 AM Chris Short <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2019-03-28 15:32] leecalcote commented on #53
@kbarnard10 captured my sentiments well -

The visibility into what others are doing is facilitated through use of GitHub and is most helpful.
This same visibility can be achieved with a Google Form and the sharing of the sheet that backs it.

Either works for me.

[2019-03-29 11:57] idvoretskyi commented on #53
+1 on GitHub.

[2019-04-03 11:17] mrbobbytables opened #56 "KubeWeekly #167 - Week April 3rd"
Please respond to this issue with links for the next edition of KubeWeekly. Links are due by 11am PT every Wednesday. @kbarnard10 will combine the links into the final email and send out.

**Featured Content**
_Editor's picks of the highlights from the past week._
[ARTICLE TITLE](LINK)

**Technical**
_Tutorials, tools, and more that take you on a deep dive into the code._
[ARTICLE TITLE](LINK)

_T

[2019-04-03 18:25] chris-short commented on #56
[OperatorHub.io Operator Round-Up – Red Hat OpenShift Blog](https://blog.openshift.com/operator-hub-operator-round-up/)

[Kubernetes-based Microservice Observability with Istio Service Mesh: Part 2](https://itnext.io/kubernetes-based-microservice-observability-with-istio-service-mesh-part-2-f25c4b474a65)

[Litmus: Journey of a storage e2e and chaos framework for Kubernetes](https://blog.openebs.io

[2019-04-24 16:13] #56 closed

[2019-04-25 15:31] caniszczyk opened #60 "Annual Ambassador Mixed Decal Pack as a Benefit"

[2019-04-25 15:31] caniszczyk commented on #60
idea via Archy

[2019-04-25 15:33] InAnimaTe commented on #60
I think this as well as some other swag/gear items would be great. Everyone gets bombarded with stickers so maybe coasters, mugs, or other things a couple times a year or once per quarter would be awesome.

[2019-04-25 15:33] chris-short commented on #52
I think we can close this @caniszczyk

[2019-04-25 15:34] #52 closed

[2019-04-25 15:40] #60 closed

[2019-04-25 15:41] qedrakmar commented on #60
How about an option for decal packs?  I have a box full of most projects' decals, but run out of any kubernetes stickers I have at every meetup, and it may not be the same for every region.

[2019-04-25 15:45] caniszczyk commented on #60
@qedrakmar I can update to the wording of a decal pack of your of choice

[2019-04-25 15:45] caniszczyk commented on #60
Note: you can always request things as a case by case basis

[2019-04-25 16:06] luxas commented on #12
Any update on this?

[2019-05-02 17:56] idvoretskyi commented on #12
@luxas WIP, the draft is ready; once it's finalized and approved - it will be publicly shared.

[2019-06-06 17:19] kbarnard10 opened #65 "KubeWeekly #171"
Please respond to this issue with links for the next edition of KubeWeekly. Links are due by 11am PT every Wednesday. @kbarnard10 will combine the links into the final email and send out.

**Featured Content**
_Editor's picks of the highlights from the past week._
[ARTICLE TITLE](LINK)

**Technical**
_Tutorials, tools, and more that take you on a deep dive into the code._
[ARTICLE TITLE](LINK)

_T

[2019-06-07 15:28] KimMcMahon commented on #65
@kimmcmahon will be creating the final email and sending it out. Thank you in advance for your help identifying articles for the community!

[2019-07-08 13:22] KimMcMahon opened #66 "KubeWeekly #175"
Please help with content!

Please respond to this issue with links for the next edition of KubeWeekly. Links are due by 11am PT every Wednesday. @kimmcmahon will combine the links into the final email and send out.

**Featured Content**
_Editor's picks of the highlights from the past week._
[ARTICLE TITLE](LINK)

**Technical**
_Tutorials, tools, and more that take you on a deep dive into the code.

[2019-07-30 20:45] caniszczyk opened #67 "Create Ambassador Emeritus Program"
We should have an emeritus program and also spec out expected time commitments:

https://github.com/cncf/ambassadors/issues/50

[2019-07-31 00:05] caniszczyk commented on #67
@amye can you take a stab at this over the next week or so?

[2019-07-31 14:02] CloudGrimm commented on #21
Is this still being championed or its been shelved?

[2019-07-31 14:03] idvoretskyi commented on #21
cc @amye

[2019-07-31 14:03] idvoretskyi commented on #12
Fixed by https://github.com/cncf/ambassadors/pull/68.

[2019-07-31 16:14] leecalcote commented on #21
I'm interested here. I'm partnered with two universities currently - UT Austin and UEM Jaipur.

[2019-07-31 16:24] mrbobbytables commented on #21
+1 here as well.

[2019-08-03 06:31] #12 closed

[2019-08-04 17:56] amye commented on #67
DRAFT for README

Ambassador Emeritus
For those who need to step down from a more active commitment, the emeritus program is being introduced in August 2019.

Benefits:
You'll still be listed as an ambassador emeritus on the CNCF page and are entitled to attend Ambassador meetings, and remain in the current communication channels.

Responsibilities:
- give a talk, host a meetup or perform an activ

[2019-08-04 18:06] amye commented on #21
Stepping in here to think this through.
I've reviewed the Docker work, and the most compelling part is the Student Ambassador program (which doesn't seem to be currently active.)
Other Prior Art which seems to be more active:
https://fedoraproject.org/wiki/Fedora_Student_Mentor_Program#The_Fedora_Student_Mentor_Programme

Goals:
* A way to encourage students to get involved with Cloud Native
* Pro

[2019-08-04 19:07] CloudGrimm commented on #21
As a current MSc student trying to attract more participants in the Cloud Native journey, I think this is a good starting point. I am not a CNA but have been trying to spread the cloud native technologies to all my peers and the interest is huge.

When can the MVP framework be rolled out? @amye

[2019-08-04 20:10] amye commented on #21
@CloudGrimm: Likely the next two weeks if the pieces align!

[2019-08-05 07:26] OrlinVasilev commented on #12
@idvoretskyi  - requested access so I can add my location

[2019-08-05 12:55] mrbobbytables commented on #21
Another possible idea/reference point - The [XSEDE Campus Champion Program](https://www.xsede.org/web/site/community-engagement/campus-champions). It includes faculty and such, but they do have a student focused group mostly with the same intentions of the general program.

[2019-08-08 13:42] #66 closed

[2019-08-08 13:43] #65 closed

[2019-08-29 01:35] dankohn commented on #67
I would further suggest that ambassadors who don't host a meetup or give a talk, engage on the ambassador Slack channel, volunteer for booth duty, etc. in a 4 month period are automatically moved to emeritus status.

[2019-08-29 05:10] lachie83 commented on #67
+1 to the DRAFT and I also agree with Dan's additions. Are all these data points relatively easy to collect?

[2019-08-29 12:16] mrbobbytables commented on #67
Also +1 for Dan's suggestions. As far as the data points go -- volunteering, hosting a CNCF webinar and engaging in the ambassador slack should be pretty easy.

Vetting hosting an **active** meetup will probably be a good amount of grunt work for someone without writing a script or tool to hit the meetup API and pull the info.

@castrojo @kbarnard10 and I looked into something easier with zapier w

[2019-08-29 12:44] ananthulasrikar commented on #21
I was part of Mozilla Reps in the past. Sharing my 2cents here: https://wiki.mozilla.org/Reps , I am happy to discuss/plan/ share my experiences.

[2019-08-29 17:18] chris-short commented on #67
I appreciate this.

[2019-09-04 20:16] amye commented on #67
I'm very much in favor of making the data points self-reported -- if you're engaged, you'll tell us about it. I'll add a Google Form to this and will put in reminders to let us know as we roll this out.

[2019-09-26 15:11] rothgar opened #70 "Emeritus me"
I'd like to opt in to become an emeritus CNCF ambassador.

Please let me know if there is anything you need from me to change my active ambassador status.

[2019-09-26 15:22] idvoretskyi commented on #70
Thank you for all your active service, @rothgar!

cc @amye @caniszczyk

[2019-09-26 15:28] rothgar commented on #70
I have a [meetup](https://www.meetup.com/ieatca) (which I never really did much with) that was part of the CNCF. I don't remember if funding for those required active ambassador status or not.

If my ambassador status means this would lose CNCF funding I can close the group, but I would appreciate guidance here

[2019-11-24 10:36] luxas commented on #70
ping @idvoretskyi @caniszczyk
@rothgar see example PR at https://github.com/cncf/ambassadors/pull/71

[2019-12-19 23:29] karenhchu opened #73 "Please add me to CNCF Ambassador Map"
Hi there,

I am missing from this list -- https://www.google.com/maps/d/u/0/viewer?mid=1fb0UPi8ijeexueBxcpGuvVlZ_8hJHXVQ&ll=37.774929500000034%2C-122.41941550000001&z=12

You can put me down for San Francisco or Boulder (I am the host of the Kubernetes Colorado meet-up).

Thank you!

[2019-12-20 00:59] idvoretskyi commented on #73
@karenhchu done, thanks for pointing out!

[2019-12-20 01:00] #73 closed

[2019-12-20 01:21] idvoretskyi commented on #53
We went out with this short [report form](https://forms.gle/im8ndYNn3aWW2dFk6) that @amye created, we may close this for now.

[2019-12-20 01:21] #53 closed

[2019-12-20 01:22] idvoretskyi commented on #23
PTAL @KimMcMahon

[2019-12-20 01:23] #70 closed

[2019-12-20 02:58] KimMcMahon commented on #23
I love this idea. It's an after-the-holiday thing. We can create a separate channel, but we would need some ambassadors to help moderate.

One thing I was thinking about - can I create a playlist in the CNCF channel and assign login permissions by playlist. I'm not a YouTube expert - so it's on my list to research.

[2019-12-20 09:22] Vivian7755 opened #75 "Please help to add me to CNCF Ambassador Map"
Hi ,
Cannot find me on the ambassor map : https://www.google.com/maps/d/u/0/viewer?mid=1fb0UPi8ijeexueBxcpGuvVlZ_8hJHXVQ&ll=37.74703801476318%2C-122.21965849881485&z=10

You can set me at Beijing or Mountain View (travels there office sometimes ).

Thanks you  :)

[2019-12-23 09:02] idvoretskyi commented on #75
@Vivian7755 we prefer tagging the ambassadors on the map with the single place of permanent/preferred residence, is it Beijiing or Mountain View? :)

[2019-12-31 10:02] Vivian7755 commented on #75
@idvoretskyi ， Beijing please :）

[2019-12-31 10:27] idvoretskyi commented on #75
@Vivian7755 done!

[2019-12-31 10:27] #75 closed

[2020-01-10 23:36] carlisia opened #78 "Please add me to CNCF Ambassador Map"
Please add me to the map https://www.google.com/maps/d/u/0/viewer?mid=1fb0UPi8ijeexueBxcpGuvVlZ_8hJHXVQ&ll=52.36798430000004%2C4.903561399999944&z=12.

I'm in San Diego, CA.

Thank you!

[2020-01-10 23:47] carlisia opened #79 "Content proposal for KubeWeekly editorial"
**The Editorial**
_Articles, announcements, and more that give you a high-level overview of challenges and features._
[Kubernetes as per Kelsey Hightower - YouTube](https://www.youtube.com/watch?v=yYzIOx0Bbg0)

[Bonus Episode: Kelsey Hightower on Kubernetes - podcast](https://ifelsepodcast.com/episodes/bonus-episode-kelsey-hightower-on-kubernetes)

[2020-01-11 19:38] itaysk opened #80 "Please add me to the Ambassador Map"
I'm in Tel Aviv, Israel
Thank you!

[2020-01-13 17:32] idvoretskyi commented on #79
@carlisia where these links should be published?

[2020-01-13 17:33] idvoretskyi commented on #80
Done, welcome!

[2020-01-13 17:33] #80 closed

[2020-01-13 17:34] idvoretskyi commented on #78
Done, welcome!

[2020-01-13 17:34] #78 closed

[2020-01-13 17:42] carlisia commented on #79
Hi @idvoretskyi, this is my first submission so I might not be well-versed on where things should go. I thought the "editorial" section was the right section.

[2020-01-13 17:55] idvoretskyi commented on #79
cc @KimMcMahon

[2020-01-20 16:14] saiyam1814 opened #81 "Please add me to the CNCF Ambassador Map"
I am in Bangalore, India

[2020-01-20 16:44] onlydole opened #82 "CNCF Ambassadors Map - Onlydole"
Hello! I'm based in Los Angeles, CA and would like to be added to the map.

[2020-01-20 16:45] onlydole opened #83 "CNCF Copyright is 2019"
Hello team! I found a minor not, and it looks like the cncf.io site still has 2019 for the copyright year.

[2020-01-20 16:46] onlydole commented on #83
![image](https://user-images.githubusercontent.com/117500/72743853-4b55c480-3b61-11ea-89b4-80b76a1ae844.jpg)

[2020-01-20 16:55] idvoretskyi commented on #82
Done.

[2020-01-20 16:55] #82 closed

[2020-01-20 16:56] idvoretskyi commented on #83
cc @dankohn

[2020-01-20 16:57] onlydole commented on #82
Thank you, @idvoretskyi!

[2020-03-02 16:39] 2pai commented on #21
is there any update on this topic ? i'm interested 😄

[2020-03-03 03:10] onlydole commented on #83
This has been fixed!

[2020-03-03 03:11] #83 closed

[2020-03-03 11:56] idvoretskyi commented on #21
@2pai this is in a pending state at the moment, but we are open for proposals.

[2020-06-21 06:00] sergioarmgpl commented on #21
Well, right now in my Operating System course, i am trying to modify my syllabus to introduce my student to the Cloud Native World. I think that i can share a draft of Syllabus to design something of value for future Cloud Native Students

[2020-07-02 04:52] sergioarmgpl commented on #21
I created this repo https://github.com/sergioarmgpl/operating-systems-usac-course with the idea to open my content for my course of operating systems, the idea is to bring resources to introduce the students to a cloud native technologies, there you can find a syllabus and ideas for projects that uses technologies of CNCF projects :) contributions are welcome, we can help cncf projects to test new

[2020-09-03 20:54] caniszczyk opened #88 "Plan Cloud Native Ambassador AMA Day"
As discussed @amye, let's do this via Bevy in mid October :)

I'm thinking 60 mins of talks from the ambassadors, 30 mins AMA

[2020-09-03 21:31] idvoretskyi commented on #23
Fixed with https://www.youtube.com/channel/UCsCuH5QK0y4FT-DNayK1rIQ

[2020-09-03 21:31] #23 closed

[2020-09-03 21:32] idvoretskyi commented on #79
This should be fixed now :)

[2020-09-03 21:32] #79 closed

[2020-09-08 19:35] pasimoes commented on #21
Hello, this initiative is active or died? I have a deep interest in it.

[2020-09-08 19:37] amye commented on #21
We can certainly review proposals if you have something, @pasimoes.

[2020-09-15 07:02] saiyam1814 opened #89 "Ambassadors initiatives"
Like we have Books.md can we have something similar for Ambassadors initiatives and put guidelines around this
Like I currently run 3 initiatives
1 - youtube channel
2 - Challenges repository (in preparation for hactoberfest)
3 - Hubstation monthly newsletter

Why another file? IMO all of the Ambassadors are working on some or the other good initiative which I feel should be a document so that we

[2020-09-16 22:00] sergioarmgpl commented on #21
I took the time to edit the Fedora Mentor Programme and adapt it to CNCF. I think that i could work this with Lee Calcote, and the people with Linkerd initially, i am currently trying to create something like this with my students. I currently have some repos to introduce the students to containerd, linkerd, docker, and we are currently working in some open projects in the classroom to test cloud

[2020-09-17 12:03] chris-short commented on #89
What's the goal?

[2020-09-17 12:05] saiyam1814 commented on #89
The goal is to be aware of what all the Ambassadors are doing and maybe we can learn/contribute

[2020-09-17 13:49] idvoretskyi commented on #21
@sergioarmgpl this is great, thank you!

[2020-09-17 19:25] sergioarmgpl commented on #21
@idvoretskyi @amye let me know how i can help.

[2020-09-18 13:04] chris-short commented on #89
Interesting.

So the sake of discussion, let's assume we don't have any resources from CNCF initially.

What would the structure look like?

[2020-09-20 15:58] saiyam1814 commented on #89
Yes As of now we do not have anything from CNCF so maybe we can have a directory named - Ambassadors Initiatives and then Ambassadors can raise a PR with their name.md file where they will be putting their new initiatives.
Inside the .md file, there canbe few guidelines that can be defined like
Inside Readme you can post new initiatives, new projects, new podcasts started, new newsletterstarted, n

[2020-09-20 20:26] krishna-mk commented on #89
Looks interesting Saiyam...

IMO:
Why don't create ONLY one file now and get all stuff in it?
It also helps look at everything in a single location and good visibility of all activities.
If this file gets too big, then can split in various ways like active/inactive, yearly, or the one you mentioned individually as well.

[2020-09-21 23:20] amye commented on #21
It seems like the first step here is getting a slack channel and that's easy to kick off.
Come find me on Slack and I'll make you a channel.

[2020-09-21 23:53] amye commented on #89
So we have the YouTube channel already, but a MD file in here seems like an easy start.

[2020-09-23 02:22] saiyam1814 commented on #89
Sure I will create a Sample File and create a PR

[2020-12-08 13:57] xmulligan commented on #21
@sergioarmgpl do you have time to discuss your syllabus a bit further? I would love to get some of your ideas on this https://calendly.com/billmulligan/1-1-with-bill-mulligan

[2020-12-08 14:00] xmulligan commented on #21
@mrbobbytables @rothgar @luxas @leecalcote @CloudGrimm @ananthulasrikar @2pai @pasimoes if you have any ideas you would like to share on this I would also love to chat with you. Just book a time that works for you https://calendly.com/billmulligan/1-1-with-bill-mulligan

[2020-12-08 15:50] idvoretskyi commented on #88
This is done - https://community.cncf.io/events/details/cncf-cncf-ambassadors-presents-virtual-cloud-native-ambassador-day/

[2020-12-08 15:50] #88 closed

[2020-12-11 14:03] sergioarmgpl commented on #21
i already had a call with @xmulligan, it was a nice time to share ideas :)

[2020-12-27 08:12] ananthulasrikar commented on #21
@amye May I please know what is the name of the channel (if created)?

[2021-01-04 14:45] amye commented on #21
You'll find this under the CNCF slack, it's the #students channel

[2021-01-04 18:22] xmulligan commented on #21
Moving the discussion to https://github.com/cncf/mentoring/issues/314 as it doesn't fit exactly under the Ambassadors Program

[2021-05-13 14:29] caniszczyk opened #94 "Create an official badge for ambassadors"
We have done this for others like the linkerd heroes program.

It would be nice to have something official folks can reference.

[2021-08-02 12:08] xmulligan commented on #21
This is currently being worked on in https://github.com/cncf/students. Please contact me if you want to help work on this before it is public

[2021-08-02 12:08] #21 closed

[2021-08-08 14:03] ipyker opened #97 "Ambassador architecture icons Libraries"
![image](https://user-images.githubusercontent.com/48749744/128634643-67d821ae-a90e-4780-b08b-be4accf58bd2.png)
This architecture icon is so cool, is there an xml file for draw.io?

[2021-08-08 15:02] idvoretskyi commented on #97
@ipyker I believe you meant the Ambassador/Emissa project - https://github.com/emissary-ingress/community, which is a different thing from the CNCF Ambassador program, so please open an issue there.

[2021-08-08 15:02] #97 closed

[2022-02-02 23:16] onlydole commented on #94
Oh! This *would* be fun!

[2022-02-02 23:22] amye commented on #94
Oh this one has violent interest, putting on the Q1 lists.

[2022-06-10 14:43] caniszczyk opened #104 "Ambassador Swag Pack for 2022"
Let's organize a special swag bag for ambassadors and get it to them before kubecon.

[2022-06-18 21:36] nate-double-u commented on #104
I once received a [Rickshaw bag](https://www.rickshawbags.com/) at a Twitter conference in SF (this must have been circa 2014-15) -- it had the fabric logo embroidered on it, and had a twitter pattern done up on the inside. I still use that bag. Nothing like a good bag for swag.

[2022-07-01 11:21] iamNoah1 opened #105 "Broken Links on Readme"
On the Readme file in the Ambassador Benefits Section, the following links are broken:

[Become a host](https://github.com/cncf/ambassadors/blob/master/Hosting-This-Week-in-Cloud-Native.md)
[This Week in Cloud Native](http://cloudnative.tv/)

[2022-07-05 18:29] caniszczyk commented on #105
@iamNoah1 I believe those should be removed now since that program was put on hold, work with @jeefy

[2022-07-05 19:21] jeefy commented on #105
Cleaned up, thanks @iamNoah1!

[2022-07-05 19:21] #105 closed

[2022-10-23 20:47] amanraj-iit opened #107 "I ALSO WANT TO JOIN CNCF ORGANIZATION"
please send me invitation to join

[2022-10-23 20:49] jeefy commented on #107
Hello! Please see the application form here: https://www.cncf.io/people/ambassadors/application/

Be aware we are currently looking to change the Ambassador program slightly, and may need to apply again in the future.

Thanks for your interest!

[2022-10-23 20:49] #107 closed